<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/analyzer.css">
    <title>Text_Analyzer</title>
</head>
<style></style>
<body>
    <div class="background">
    <div class="container">
        <h1>Suicidal Text Detection</h1>
        <textarea id="inputText" placeholder="Type or paste text here..."></textarea>
        <button id="analyzeButton">Analyze</button>
        <p result id="result"></p>
        <p>Click the button for consultations:</p>
    <a href="/psychologist"><button>Go to Psychologists</button></a>
    <div style="font-size: 10px; text-align: center; margin-top: 20px;">
        <p>Take into consideration that the information obtained from this "Suicidal Text analyzer"can be updated as
            time goes. Also the important fact is that the Results may not be 100% accurate.</p>
    </div>
    <script src="/scripts/analyzer.js"></script>
</body>
</html>
