<!DOCTYPE html>
<html>
<head> 
	<title>Chatbox - Crime Notifier App</title>
	<link rel="stylesheet" type="text/css" href="/styles/chat.css">
	<script type="text/javascript" src="/scripts/chatbox.js" defer></script>
</head>
<body>
	<div class="chatbox">
		<div class="chat-header">
		  <h2>Chat with us</h2>
		  <button class="close-btn">
		  </button>
		</div>
		<div class="chat-body">
		  <div class="chat-message">
			<p>Hello, how can we assist you today?</p>
		  </div>
		</div>
		<div class="chat-footer">
		  <input type="text" placeholder="Type your message...">
		  <button class="send-btn">Send</button>
		</div>
	  </div>			
</body>
</html>

  