<!DOCTYPE html>
<html>
<head>
	<title>Crime Notifier App</title>
	<link rel="stylesheet" type="text/css" href="/styles/FAQs.css">
</head>
<body>
  <div class="faq-container">
    <h2>Frequently Asked Questions</h2>
    
    <div class="faq-item">
      <h3>What is the purpose of this app?</h3>
      <p>The app is designed to help users identify signs of suicidal ideation in their social media posts or messages and provide resources for suicide prevention. It also provides real-time notifications of crime hotspot areas to enhance safety.</p>
    </div>
  
    <div class="faq-item">
      <h3>How can I report crime or suspicious activity through the app?</h3>
      <p>The app integrates with mapping services to identify crime hotspot areas in real-time. If you are in one of these areas, the app will notify you and provide a way to report any suspicious activity.</p>
    </div>
    
    <div class="faq-item">
      <h3>Are there professionals available to help me if I am feeling suicidal?</h3>
      <p>Yes, the app provides contact details for individuals with expertise in helping suicidal people.</p>
    </div>
    
    <div class="faq-item">
      <h3>Is my information safe and secure on this app?</h3>
      <p>Yes, the app takes measures to ensure the privacy and security of user information. All data is encrypted and stored securely to prevent unauthorized access.</p>
    </div>
    
    <div class="faq-item">
      <h3>Can I use the app without creating an account?</h3>
      <p>Yes, the app can be used as a guest user without creating an account. However, creating an account will allow you to access additional features and support resources.</p>
    </div>
  </div>
  </body>
  </html>
  
  