<!DOCTYPE html>
<html>
<head>
	<title>Crime Notifier App</title>
	<link rel="stylesheet" type="text/css" href="/styles/helpers.css">
</head>
<body>
    <div class="contact-professionals">
        <h2>Contact Professional Helpers in South Africa</h2>
        <p>If you or someone you know needs help, please contact one of the following organizations:</p>
        <ul>
          <li><a href="tel:0861322322">Lifeline South Africa: 0861 322 322</a></li>
          <li><a href="tel:0800567567">South African Depression and Anxiety Group (SADAG): 0800 567 567</a></li>
          <li><a href="tel:0861472472">Trauma Line: 0861 472 472</a></li>
          <li><a href="tel:0800708090">Anxiety Line: 0800 708 090</a></li>
          <li><a href="tel:0861322322">Lifeline: 0861 322 322</a></li>
        </ul>
      </div>
</body>
</html>      