<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<!-- CSS and JavaScript references -->
	<link rel="stylesheet" type="text/css" href="/styles/header.css">
	<link rel="stylesheet" type="text/css" href="/styles/posts.css">
	<link rel="stylesheet" href="home.css">
	<link rel="stylesheet" type="text/css" href="../fonts/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
		integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script src="/scripts/header.js"></script>
	<script src="/scripts/home.js"></script>
	<!-- Ending of CSS and JavaScrit -->

</head>
<body onload="newpost();">
	<!-- Header section -->
	<header>
		<nav>
			<button class="menu-button"><i class="fa fa-bars"></i></button>
			<ul class="nav-left">
				<li><a href="/">Home</a></li>
				<li><a href="/app/emergency-contacts">Emergency contacts</a></li>
				<li><a href="/app/contact">Contact Us</a></li>
				<li><a href="/app/faqs">FAQs</a></li>
			</ul>

			<ul class="nav-right">
				<li th:if="${#authorization.expression('!isAuthenticated()')}"><a href="/user/login">Login here</a></li>
				<li th:if="${#authorization.expression('!isAuthenticated()')}"><a href="/user/register">Register here</a></li>
				<li th:if="${#authorization.expression('isAuthenticated()')}"><a href="/app/community">Community <i class="fas fa-comments"></i></a></li>
				<li th:if="${#authorization.expression('isAuthenticated()')}" class="dropdown">
					<button class="dropdown-btn">
						<i class="fa fa-user-circle"></i>
						<span th:text="${#authentication.principal.username}" class="name"></span>
						<i class="fa fa-caret-down"></i>
					</button>
					<ul class="dropdown-items">
						<li><a href="/app/account">Account <i class="far fa-id-badge"></i></a></li>
						<li><a href="/logout">Sign out <i class="fas fa-sign-out-alt"></i></a></li>
					</ul>
				</li>
			</ul>
		</nav>
	</header>
	<!-- End of header section -->


	<!-- Content Section -->
	<div class="content">
		<!-- Start wrapper -->
		<div class="wrapper">

			<!-- Start Left section -->
			<div class="leftfixed">
				<!-- start sidebar left -->
				<div class="sidebarleft">
					<img src="../images/profile/upload.png"/>
					<p id="sidename"> Thapelo</p>
					<p id="ssn"> cosc project leader</p>
					<p id="country">RSA</p>
					<a href="profile.html" id="viewall">View All</a>
					<hr>
					<p id="nosociety">31</p>
					<p id="societyname"><a href="society.html">Society</a></p>
				</div>
				<!-- End of sidebar left -->
			</div>
			<!-- End of leftfixed -->

			<!-- start of main content section -->
			<div class="mainnotfixed" id="mainnotfixed">
				<!-- Start of post an content -->
				<div class="main mainpost" style="margin-bottom:20px; padding-bottom:10px;">	

					<div class="userimg"><img src="../images/profile/upload.png"/>
						</div>
					    <div class="username">				 <p class="name" style="top:15px;">Thapelo</p>
					    </div>
						<p class="quotes">
							<textarea id="mypara" placeholder="Share an article ,photo ,video or idea."></textarea>
						</p>
						<!-- image load to post -->
						<div class="post">
							<img id="load2" class="postimg" src=" "/>
						</div>

						<div class="postbar">
							<input type="file" accept="images/*" id="chooseimg" onchange="loadFile(event)" />
							<button type="button" class="imgbttn" id="imgbttn">&#x1f4f7; Images</button>
							<button type="button" id="postmypost" class="postmypost" onclick="mypost();">Post</button>
						</div>

				</div>
				<!-- End of post an content -->
				<hr>

				<!-- posted content view -->
				<div class="allpost">
					<!-- post 1 by creator-->
					<div class="mainpost">
						<div class="userimg"><img src="../images/homaj logo.png"/>
						</div>
					    <div class="username">				 <p class="name">SaveAlife</p>
					    </div>
						<p class="time">2min ago</p>
						<p class="quotes">
							Welcome to our app. You will be judged on what you wear, which music you listen to, what you look like, how you act, who you hang around with, and on practically every other personal trait and imperfection about you, and you'll be made fun of for being who you are. Enjoy your stay.
						</p>
						<div class="post">
							<img class="postimg" src="../images/login/network society.jpg"/>
						</div>

						<div class="likedislike">
							<p class="like">
								<span class="nooflike" id="like1">0 </span> likes &nbsp <span class="noofdislike" id="dislike1">0 </span> dislikes
							</p>
							<p class="likedisbttn">
								<span id="thumbsup1" class="fa fa-thumbs-up" onclick="increase('like1','dislike1','thumbsup1','thumbsdown1');"></span> <span id="thumbsdown1" class="fa fa-thumbs-down" onclick="decrease('like1','dislike1','thumbsup1','thumbsdown1');"></span>
							</p>
						</div>

					</div>
					<!-- end of post 1 by creator -->

					<!-- post 2 by creator -->
					<div class="mainpost">
						<div class="userimg"><img src="../images/homaj logo.png"/>
						</div>
					    <div class="username">				 <p class="name">homaj group</p>
					    </div>
						<p class="time">8min ago</p>
						<p class="quotes">
							A gender-equal society would be one where the word 'gender' does not exist: where everyone can be themselves.
						</p>
						<div class="post">
							<img class="postimg" src="../images/login/society.jpg"/>
						</div>

						<div class="likedislike">
							<p class="like">
								<span class="nooflike" id="like2">0 </span> likes &nbsp <span class="noofdislike" id="dislike2">0 </span> dislikes
							</p>
							<p class="likedisbttn">
								<span id="thumbsup2" class="fa fa-thumbs-up" onclick="increase('like2','dislike2','thumbsup2','thumbsdown2');"></span> <span id="thumbsdown2" class="fa fa-thumbs-down" onclick="decrease('like2','dislike2','thumbsup2','thumbsdown2');"></span>
							</p>
						</div>

					</div>
					<!-- end of post 2 by creator -->


				</div>
				<!-- end of posted content view -->

				<!-- button to view more previous post -->
				<button type="button" id="viewmore" class="viewmore" onclick="newpost();">View More</button>
			</div>
			<!-- End of main content section -->

			<!-- start of right section suggestion user -->
			<div class="rightfixed">
				<div class="suggesfixed"><p id="suggestion">Suggestion</p></div>

				<!-- Start of right fixed -->
				<div class="sidebarright">

					<!-- suggested user -->
					<div class="rightcontent">
						<img src="../images/profile/other_profile.png"/>
						<p class="name">User Name</p>
						<a href="#" id="connect1" onclick="changelogo('connect1');">&#x271A; Connect</a>

					</div>

					<div class="rightcontent">
						<img src="../images/profile/other_profile.png"/>
						<p class="name">User Name</p>
						<a href="#" id="connect2" onclick="changelogo('connect2');">&#x271A; Connect</a>
					</div>

					<div class="rightcontent">
						<img src="../images/profile/other_profile.png"/>
						<p class="name">User Name</p>
						<a href="#" id="connect3" onclick="changelogo('connect3');">&#x271A; Connect</a>
					</div>

					<div class="rightcontent">
						<img src="../images/profile/other_profile.png"/>
						<p class="name">User Name</p>
						<a href="#" id="connect4" onclick="changelogo('connect4');">&#x271A; Connect</a>
					</div>

					<div class="rightcontent">
						<img src="../images/profile/other_profile.png"/>
						<p class="name">User Name</p>
						<a href="#" id="connect5" onclick="changelogo('connect5');">&#x271A; Connect</a>
					</div>
					<!-- End of sugested user -->
				</div>
				<!-- End of right fixed -->

			</div>
			<!-- End of right section suggestion user -->


			<!-- Start of about homaj -->
			<div class="rightfixed">
				
				<div class="sidebarright" style="width: 280px;padding: 4px;margin-top: 20px;height: 150px;">
					<hr style="top: -25px;">
				<div class="foot">

					<ul>
						<li><a href="">About</a></li>
						<li><a href="">Contact</a></li>
						<li><a href="">Privacy and Policy</a></li>
						<li><a href="">Help</a></li>
					</ul>
					<img src="../images/profile/other_profile.png"/>
				</div>
				</div>
			</div>
			<!-- End of about homaj -->

			<!-- message bar at the bottom -->
			<div class="message" id="msg1">
				<button id="msg2" onclick="showhide()">Messaging</button>
				<p> No New Messages.</p>
			</div>
			<!-- End of message bar at the bottom -->

		</div>
		<!-- End of wrapper -->

	</div>
	<!-- End of content section -->


</body>
</html>