<!-- Chatbox HTML -->
<!DOCTYPE html>
<html>
<head>
	<title>chatbox -crime Notifier app</title>
	<link rel="stylesheet" type="text/css" href="/styles/learn_more.css">
</head>
<body>
<section id="learn-more">
    <div class="container">
        <h2>Learn More</h2>
        <p>Here are some resources you can use to learn more about crime prevention and suicide prevention:</p>
        <ul>
          <li><a href="https://www.nsvrc.org/">National Sexual Violence Resource Center</a></li>
          <li><a href="https://www.cdc.gov/violenceprevention/">CDC Violence Prevention</a></li>
          <li><a href="https://www.nimh.nih.gov/health/topics/suicide-prevention/index.shtml">National Institute of Mental Health: Suicide Prevention</a></li>
        </ul>
        </div>
      </div>
    </div>
  </section>
</body>
<footer>
  <p>&copy; 2023 My Crime Notifier App</p>
</footer>
</html>
  