<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="image-container">
            <img src="/images/passwor_updated.jpg" alt="" />
        </div>
        <div class="email-content">
            <h1>Password Updated Successfully</h1>
            <div class="intro">
                <p>
                    Your password has been updated!!!
                </p>
                <div class="link">
                        <a href="/user/login" class="btn">Sign in</a>
                </div>
            </div>
    
        </div>
    </div>
</body>
</html>