<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="image-container">
            <img src="/images/reset_password.jpg" alt="" />
        </div>
        <div class="email-content">
            <h1>Create New Password</h1>
            <div class="intro">
                <form action="/user/password/update" method="post">
                    <input type="text" style="display: none;" name="email" th:value="${email}">
                    <input type="text" style="display: none;" name="token" th:value="${token}">
                    <div class="input-control">
                        <label for="newPassword">New Password:</label>
                        <input type="password" id="newPassword" name="newPassword">
                    </div>
                    <div class="input-control">
                        <label for="confirmNewPassword">Confirm New Password:</label>
                        <input type="password" id="confirmNewPassword" name="confirmNewPassword">
                    </div>
                    <button class="btn" type="submit">Reset Password</button>
                    <p>Don't have an account? <a href="/user/register">Register</a></p>
                </form>
                <!-- <div class="link">
                        <a href="" class="btn">Resend email</a>
                    </div> -->
            </div>

        </div>
    </div>
</body>

</html>